## Environment is set-up in Neo4J 3.4.0

In [1]:
from py2neo import Graph, Node, Relationship, NodeMatcher
from pandas import DataFrame

In [4]:
neo4j_config = { 'user': 'neo4j', 'password': 'neo4jneo4j', 'host': 'mylocalhost'}
# Connect to Graph
graph = Graph(**neo4j_config)
# Check that we are connected to the expected Neo4J Store - to avoid accidents...
dbname = graph.database.name
print(dbname)

russians.db

In [5]:
# Return a subnet where all nodes have degree connections or more
query = """
match (n)--() 
with n, count(*) as cnt
where cnt >= {degree}
return count(n) as cnt10
""".format(degree=10)
cur = graph.run(query)
dd = cur.data()
print(dd)

[{'cnt10': 769}]

In [6]:
query = "match (n)--() return n.name, count(*) as cnt order by cnt desc limit 10"
cur = graph.run(query)
resdf = DataFrame(cur.data())

In [7]:
resdf

    cnt          n.name
0  4691     borisakunin
1  3045     doctor_liza
2  2970         tareeva
3  2886          cheger
4  2716          karial
5  2706         snorapp
6  2682  masha_koroleva
7  2615        elladkin
8  2597         samoleg
9  2595    zina_korzina