## Environment is set-up in Neo4J 3.4.0

In [1]:
from py2neo import Graph, Node, Relationship, NodeMatcher
from pandas import DataFrame

In [2]:
neo4j_config = { 'user': 'neo4j', 'password': '6vM7SvJ-BuIS'}
# Connect to Graph
graph = Graph(**neo4j_config)
# Check that we are connected to the expected Neo4J Store - to avoid accidents...
dbname = graph.database.name
print(dbname)

russians.db

In [4]:
# Return a subnet where all nodes have degree connections or more
query = """
match (n)--() 
with n, count(*) as cnt
where cnt >= {degree}
return count(n) as cnt10
""".format(degree=10)
cur = graph.run(query)
dd = cur.data()
print(dd)

[{'cnt10': 559}]

In [6]:
query = "match (n)--() return n.name, count(*) as cnt order by cnt desc limit 10"
cur = graph.run(query)
resdf = DataFrame(cur.data())

In [7]:
resdf

   cnt       n.name
0  232   azbukivedi
1  228     valerois
2  204       bagira
3  167       karial
4  159      kpoxa_e
5  126      snorapp
6  121     angerona
7  118      kirulya
8  114  borisakunin
9  111    eprst2000